$primary: #28d381;
$secondary: #b9cdee;
$danger: lightcoral;
$body-color: #D2D7DF;
$body-bg: #242F40;
$navbar-light-active-color: $secondary;
$border-color: $secondary;

.container-content-width {
  max-width: max-content;
}